[Desktop Entry]
Type=Application
Version=1.0
Name=Lumaq
Comment=GTK application launcher with wallpaper switching
Exec=lumaq
Terminal=false
Categories=Utility;GTK;
StartupNotify=true
